<h1>Listado de Heroes</h1>
<hr>
<div class="row">
    <div class="col text-end">
        <button class="btn btn-primary" routerLink="/heroe/nuevo"><i class="fa fa-plus"></i> Agregar</button>
    </div>
</div>
<table class="table table-dark mt-3 animated fast fadeIn" *ngIf="!cargando && heroes.length > 0">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Poder</th>
            <th scope="col">Vivo</th>
            <th scope="col">Tools</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let heroe of heroes; let i = index">
            <th scope="row">{{i}}</th>
            <td>{{heroe.nombre}}</td>
            <td>{{heroe.poder}}</td>
            <td>
                <label class="badge bg-success" *ngIf="heroe.vivo">Vivo</label>
                <label class="badge bg-danger" *ngIf="!heroe.vivo">Muerto</label>
            </td>
            <td>
                <button class="btn btn-info mr-1" [routerLink]="['/heroe',heroe.id]"><i class="fa fa-pen"></i></button>
                <button class="btn btn-danger ms-1" (click)="borrarHeroe(heroe,i)"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
    </tbody>
</table>
<div class="alet alert-warning text-center mt-3 animated fadeId faster" *ngIf="heroes.length === 0 && !cargando">
    <h4 class="alert-heading">No hay registro</h4>
    <i class="fas fa-exclamation fa-2x"></i>

</div>
<div class="alet alert-info text-center mt-3 animated fadeId faster" *ngIf="cargando">
    <h4 class="alert-heading">Cargando</h4>
    <i class="fas fa-sync fa-spin fa-2x"></i>
    <p class="pb-2">
        Espere por favor..
    </p>
</div>